<!DOCTYPE html>
<html lang="zxx" class="js">

{% include "modules/header.html" %}

<body class="nk-body bg-lighter npc-default has-sidebar ">
  <div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
      <!-- sidebar @s -->
      {% include "modules/sideBar.html" %}
      <!-- sidebar @e -->
      <!-- wrap @s -->

      <div class="nk-wrap ">


        <div id="map"></div>

        <!-- wrap @e -->
      </div>

      <!-- main @e -->
    </div>
    <!-- app-root @e -->

    <script src="static/assets/js/bundle.js?ver=3.2.0"></script>
    <script src="static/assets/js/scripts.js?ver=3.2.0"></script>
    <script src="static/assets/js/example-sweetalert.js?ver=3.2.0"></script>






</body>

</html>